[MASTER]
disable=
      C0114,
      R0201,
      W0702,
      C0411,
      R0903,
      R0915,
      W0703

[FORMAT]
max-line-length=1000
no-docstring-rgx=^.*
const-rgx=^.*
variable-rgx=[a-z_][a-z0-9_]{0,30}$
missing-module-docstring=^.*