# This workflow checks that windows paths (a\b\c) work correctly when 
# passed as args to taskipy and that mslex is installed.

name: Taskipy Windows Sanity Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry
    - name: Install dependencies
      run: poetry install
    - name: Test Windows
      run: poetry run task test_windows
